@font-face {
  font-family: 'Istok Web';
  src: url('fonts/IstokWeb-Bold.eot');
  src: local('fonts/Istok Web Bold'), local('fonts/IstokWeb-Bold'),
    url('fonts/IstokWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/IstokWeb-Bold.woff') format('woff'),
    url('fonts/IstokWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/IstokWeb-Italic.eot');
  src: local('fonts/Istok Web Italic'), local('fonts/IstokWeb-Italic'),
    url('fonts/IstokWeb-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/IstokWeb-Italic.woff') format('woff'),
    url('fonts/IstokWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/IstokWeb-Regular.eot');
  src: local('fonts/Istok Web Regular'), local('fonts/IstokWeb-Regular'),
    url('fonts/IstokWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/IstokWeb-Regular.woff') format('woff'),
    url('fonts/IstokWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url('fonts/IstokWeb-BoldItalic.eot');
  src: local('fonts/Istok Web Bold Italic'), local('fonts/IstokWeb-BoldItalic'),
    url('fonts/IstokWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/IstokWeb-BoldItalic.woff') format('woff'),
    url('fonts/IstokWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

.center {
  text-align: center;
}

body {
  font-family: 'Istok Web';
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.container {
  width: 1400;
  padding: 0 15;
  margin: 0 auto;
}

.sec1 {
  background-color: #de2b24;
  min-height: 1180;
  margin-top: -19;
  position: relative;
}

.t1 {
  font-family: 'Istok Web';
  font-size: 48;
  font-weight: bold;
  text-align: center;
  padding-top: 130;
}

.t2 {
  font-family: 'Istok Web';
  font-size: 24;
  font-weight: normal;
  text-align: center;
  position: relative;
}

.sec1 .t2::after {
  content: "";
  width: 65;
  height: 7px;
  position: absolute;
  background-color: white;
  bottom: -25;
  right: 48%;
}

table {
  position: absolute;
  padding-top: 83;
  border-spacing: 0;
}

.camera {
  float: left;
  overflow: hidden;
}

.camera img {
  margin: 0px -13px 0px 0px;
}

p.project {
  position: relative;
}

p.project::before {
  content: "";
  background-image: url(img/icon7.png);
  background-repeat: no-repeat;
  width: 60;
  height: 60;
  left: 150;
  top: -60;
  position: absolute;
}

td {
  text-align: center;
  background-color: #f66;
}

td p {
  font-size: 30;
  font-weight: bold;
}

td p span {
  font-size: 20;
  font-weight: bold;
}

td.camera:hover, td.tree:hover, td.bridge:hover, td.forest:hover {
  transform: scale(1.5);
}

p.project:hover {
  color: black;
  transform: scale(1.5);
}

.container1 {
  position: relative;
  width: 900;
  padding: 0 15;
  margin: 0 auto;
}

.sec2 {
  background-color: #09c;
  min-height: 1160;
}

.capitalize {
  text-transform: capitalize;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #09c;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  margin-left: 46%;
  margin-top: 20px;
  position: relative;
}

.circle::before {
  content: "";
  height: 24px;
  width: 3px;
  background-color: white;
  transform: rotate(-45deg);
  position: absolute;
  left: 25;
  top: 24;
}

.circle::after {
  content: "";
  height: 24px;
  width: 3px;
  background-color: white;
  transform: rotate(45deg);
  left: 40;
  top: 24;
  position: absolute;
}

.form_block {
  position: relative;
  margin-top: 60px;
  width: 937px;
  height: 614px;
  border-radius: 6px;
  background-color: white;
}

.rect {
  width: 60;
  height: 60;
  left: 47%;
  top: 340;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
}

div.line {
  height: 28px;
  width: 3px;
  left: 100%;
  top: -10;
  transform: rotate(-30deg);
  background-color: white;
  position: absolute;
  z-index: 10;
}

.form_block::after {
  content: "";
  background-color: red;
  width: 60;
  height: 60;
  right: -30;
  top: -30;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  position: absolute;
  z-index: 1;
}

.form_block::before {
  content: "";
  height: 28px;
  width: 3px;
  left: 100%;
  top: -10;
  transform: rotate(30deg);
  background-color: white;
  position: absolute;
  z-index: 2;
}

.form_block form {
  margin-left: 20%;
  margin-top: 60px;
}

.form_block p {
  color: black;
  font-size: 20;
  font-weight: normal;
  padding-top: 100px;
}

.sec3 {
  background-color: #333;
  min-height: 668;
}

.menu {
  margin-left: 30%;
  margin-top: 40;
}

.menu img{
  border: 3px solid #666;
  border-radius: 3px;
  padding: 15;
  margin-right: 30;
}

.container1 img:hover {
  border-color: red;
}
.container1 p {
  text-align: center;
  margin-top: 50;
  margin-bottom: 50;
  font-family: 'Istok Web';
  font-size: 24;
  font-weight: normal;
}
input {
  display: block;
  border-radius: 5px;
  border-width: 1;
  width: 609px;
  height: 70px;
}

div.inner {
  margin-bottom: 10px;
}

input.indent {
  text-indent: 28px;
}

input[type="email"] {
  background-color: #666;
  width: 900;
  height: 70;
}

input[type="submit"] {
  width: 210;
  height: 60;
  background-color: #de2b24;
  margin-left: 190;
  margin-top: 50;
  font-weight: bold;
  font-size: 18;
  color: white;
}

.f input[type="submit"] {
  background-color: #333;
  border: 2px solid #666;
  margin-left: 320;
  border-radius: 2;
}

footer {
  min-height: 93;
  background-color: #666;
  margin-bottom: -50;
}

.fut {
  text-align: center;
  padding-top: 40;
  font-weight: normal;
  font-size: 18;
}
